html,
body {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
}

.navigation-menu {
  grid-column: span 3;
}

.main-content {
  grid-column: span 9;
}

@media screen and (max-width: 768px) {
  .navigation-menu {
    grid-column: span 5;
  }
  .main-content {
    grid-column: span 7;
  }
}

@media screen and (max-width: 480px) {
  .container {
    grid-template-rows: 40vh;
  } 
  .navigation-menu {
    grid-column: span 12;
  }
  .main-content {
    grid-column: span 12;
  }
}

.map {
  height: 100%;

}

.item-list {
  padding: 3px;
  font-size: medium;
}

.item-list:hover {
  background-color: #c0f0c0;
}