{% extends "main.html" %} {% block content %} {% include "header.html" %}

<div class="row">
  <div class="col-md-3">
    {% include "category_list.html" %}
  </div>

  <div class="col-md-9">

  </div>
</div>

{% endblock %}
