{% extends "main.html" %} {% block content %} {% include "header.html" %}
<h2> Are you sure you want to delete this item: {{item.name}}? </h2>

<form style="float:left;margin-right:10px;" action="{{ url_for('delete_item', item_id=item.id) }}" method='post'>
	<button type="submit" class="btn btn-default delete" id="submit" type="submit">
<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
</form>

<a href="{{ url_for('view_category', category_id=category_id) }}">
	<button class="btn btn-default">
	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
</a> {% endblock %}
