{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row divider green">
	<div class="col-md-12"></div>
</div>
<div class="row banner menu">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>Edit {{category.name}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-1 padding-top">
		<form action="{{ url_for('edit_category', category_id=category.id) }}" method="post">
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" name="name" value="{{category.name}}">
				<div class="padding-bottom"></div>
				<button type="submit" class="btn btn-default" id="submit" type="submit">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
				<a href="{{ url_for('view_category', category_id=category.id) }}">
						<button class="btn btn-default cancel">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
