<div class="row top-menu">
	<div class="col-md-2">
		<a href="{{url_for('get_index')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Catalog App
		</a>
	</div>

	<div class="col-md-7">
		<div class="editable" style="display: none">
			<a href="{{url_for('new_category')}}">Add Category</a>

			<!-- category edit/delete -->
			{% if category_id is defined %}
			<span>| <a href="{{url_for('edit_category', category_id=category_id)}}">Edit Category</a></span>
			<span>| <a href="{{url_for('delete_category', category_id=category_id)}}">Delete Category</a></span>

			<span>| <a href="{{url_for('new_item', category_id=category_id)}}">Add Item</a></span>
			<!-- end category edit/delete -->
			{% endif %}

			<!-- item edit/delete -->
			{% if item is defined %}
			<span>| <a href="{{url_for('edit_item', item_id=item.id)}}">Edit Item</a> </span>
			<span>| <a href="{{url_for('delete_item', item_id=item.id)}}">Del Item</a> </span>
			<!-- Item edit/delete -->
			{% endif %}
			<!-- end item edit/delete -->
		</div>
	</div>

	<div class="col-md-3 text-right">
		<div class="g-signin2" data-onsuccess="onSignIn"></div>
		<div class="g-signout2" data-onsuccess="onSignOut"><a href="#" onclick="signOut();">Sign out</a></div>
	</div>


	<!--<div class="row padding-top padding-bottom">-->
	<!--	<div class="col-md-1"></div>-->
	<!--	<div class="col-md-10 padding-none">-->
	<!--		<a href="{xxx{url_for('new_category')}}">Add Category-->
	<!--<button class="btn btn-default" id="new-category">-->
	<!--	Add Category-->
	<!--</button>-->
	<!--		</a>-->
	<!--	</div>-->
	<!--	<div class="col-md-1"></div>-->
	<!--</div>-->



</div>

<div class='flash'>
	{% with messages = get_flashed_messages() %} {% if messages %}

	<ul>
		{% for message in messages %}
		<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
	</ul>
	{% endif %} {% endwith %}

</div>

<div class="row divider blue">
	<div class="col-md-12"></div>
</div>
