{% extends "main.html" %} {% block content %} {% include "header.html" %}


<div class="row">
  <div class="col-md-3">
    {% include "category_list.html" %}
  </div>


  <div class="col-md-9">

    <h3>{{category.name}} Items ({{items|length}} items)</h3>
    {% for item in items %}
    <a href="{{url_for('show_item_detail', item_id=item.id)}}">


      <div class="item-list">
        {{item.name}}
      </div>


    </a>
    {% endfor %}
  </div>


</div>


{% endblock %}
