{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row top-menu">
  <div class="col-md-10"></div>
  <div class="col-md-2 text-right">
  </div>
</div>
<!--<div class="row banner main">-->
<!--  <div class="col-md-1"></div>-->
<!--  <div class="col-md-11 padding-none">-->
<!--    <h1>Item Detail</h1>-->
<!--  </div>-->
<!--</div>-->

<div class='flash'>
  {% with messages = get_flashed_messages() %} {% if messages %}

  <ul>
    {% for message in messages %}
    <li> <strong> {{ message }} </strong> </li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

</div>

<div>

  <div class="row">

    <div class="col-md-3">
      {% include "category_list.html" %}
    </div>


    <div class="col-md-9">


      <h2>{{ item.name }}</h2>
      <p>{{ item.description }}</p>
    </div>
  </div>

</div>



{% endblock %}
