{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row divider green">
  <div class="col-md-12"></div>
</div>
<div class="row banner menu">
  <div class="col-md-11 col-md-offset-1 padding-none">
    <h2>Please LOGIN using Google Account above.</h2>
  </div>
</div>

{% endblock %}
