<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- 
Google-Signin Referece: https://developers.google.com/identity/sign-in/web/sign-in 
-->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    <!-- app.js contains STATE which needs to be dynamically parsed by Jinaja -->
    <script src="{{ url_for('app_js') }}"></script>

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="738653376928-fet3gms1kdud74bvbgcb0v7fqekq9rbe.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>


    {% block head %}

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">


    <title>{% block title %}{% endblock %} - Catalog Project</title>
    {% endblock %}
  </head>

  <body>

    <div class="container">

      <div id="content">{% block content %}{% endblock %}</div>
      <div id="footer">
        {% block footer %} &copy; Copyright 2018 by Jae Shin. {% endblock %}
      </div>
    </div>
  </body>

</html>
