{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row divider green">
	<div class="col-md-12"></div>
</div>
<div class="row banner menu">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>New Item</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-1 padding-top">
		<form action="#" method="post">
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" class="form-control" maxlength="100" name="name">

				<label for="description">Description:</label>
				<input type="text" class="form-control" maxlength="2048" name="description">

				<div class="padding-bottom"></div>
				<button type="submit" class="btn btn-default" id="submit" type="submit">
				Create</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
